name: tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.12", "pypy-3.10"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -e '.[dev]'
      - name: Set up API keys
        run: |
          # Azure TTS key
          echo '${{ secrets.AZURE_TTS_KEY }}' > keys/AzureSpeechServerKey.json
          # AWS Polly API key
          echo '${{ secrets.AWS_POLLY_KEY }}' > keys/AWSPollyServerKey.json
      - name: Test with pytest
        run: |
          python -m pytest --run-slow -vvvrP --log-level=DEBUG --capture=tee-sys
      # - name: Lint with pre-commit hooks
      #   run: |
      #     pre-commit run --all-files

  network:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install -e '.[dev]'
      - name: Set up API keys
        run: |
          # Azure TTS key
          echo '${{ secrets.AZURE_TTS_KEY }}' > keys/AzureSpeechServerKey.json
          # AWS Polly API key
          echo '${{ secrets.AWS_POLLY_KEY }}' > keys/AWSPollyServerKey.json
      - name: Test with pytest
        run: |
          pytest --run-all --log-level=INFO --capture=tee-sys
